<!--<head>-->
  <!--&lt;!&ndash;empty attribute&ndash;&gt;-->
  <!--<link rel="stylesheet" href="/css/styles.css">-->
  <!--<script src="/js/app.js"></script>-->
  <!--<img src="/img/robot.png">-->
<!--</head>-->

<header>
  <h1>{{title}}</h1>

{{>nav}}
</header>
